<div class='container'>
	<p>Code for this at <%=link_to "Github Repo", 'https://github.com/sn0bored/uploader_wave'%></p>

	<h1>This is your home for free cloud storage.</h1>

	<h5>Here are the rules</h5>
	<ul>
		<li>No duplicate files...it is a waste of space</li>
		<li>This is public folder...anyone can download or delete your stuff.</li>
		<li>Have fun</li>
	</ul>

	<%= form_for :upload_file do |f| %>
		<%= f.file_field :content %>
		<%= f.submit 'Save File', :class => "btn btn-success" %>
	<%end%>

	<h3>These are the files people have uploaded so far...</h3>
	<h4>Click on any to download</h4>
	<ol>
		<% @uploaded_files.each do |up| %>
			<li><%= link_to up.content, upload_file_path(up.id) %></li>
			<%= button_to "Delete", up, :method => :delete, data: { confirm: "Are you sure?  This will remove the file." }, class: "btn btn-danger" %>
		<%end%>	
	</ol>

</div>